* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.container img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

button {
  padding: 10px 50px;
  display: block;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  background-color: white;
  font-size: 15px;
}
button:hover {
    background-color: antiquewhite;
    cursor: pointer;
}